canvas {
    border: 2px solid #00FFFF;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}
.score{
    color: #00FFFF;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: none;
}

#name{
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background-color: black;
}

.start{
    display: flex;
    color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.start a {
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Contenido del modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Estilo para la imagen del ganador */
.winner-image {
    max-width: 10%;
    display: block;
    margin: auto;
    height: auto;
}

/* Estilo para el botón de cierre del modal */
.modal-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.close-button{
    background-color: #f44336;
    position: absolute;
    right: 0;
    margin-right: 23px;
}
.open-button {
    background-color: #1a66d6;
}

.start-image{
    max-width: 20%;
    display: block;
    margin: auto;
    height: auto;
}

#historyScoreModal > div{
    width: 50%;
    height: 50%;
}
table{
    width: 100%;
    text-align: center;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #992121; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: absolute;
    top: 70%;     /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    margin: auto;/* 30px from the bottom */
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }